.navbar{
    background-color: #c30000;
    color: rgb(0, 0, 0);
    padding: 10px;
  font-family: "Libertinus Mono", monospace;
  font-style: normal;
  font-size: 22px;
}

.logo {
  width: 82px;
  height: 82px;
}